body {
  background-color: #f2f2f2;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dataTableWrap {
  height: 700px;
  overflow-x: hidden;
}
.rowDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  border-collapse: collapse;
}
